@import "tailwindcss";

:root {
  --dark: #262522;
  --background: #F0EBE1;
  --primary1: #9FDC26;
  --primary2: #F29C33;
  --primary3: #EE6352;
  --primary4: #C4E5FC;
  --light: #FFFBF2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

[data-theme="dark"] {
  --dark: #fff;
  --foreground: #ededed;
}


@theme inline {
  --color-dark: var(--dark);
  --color-background: var(--background);
  --color-primary1: var(--primary1);
  --color-primary2: var(--primary2);
  --color-primary3: var(--primary3);
  --color-primary4: var(--primary4);
  --color-light: var(--light);
}

@layer components {
  .headline1 {
    font-family: 'Montserrat';
    font-weight: '800';
    font-size: 80px;
    line-height: 100%;
    letter-spacing: -1%;
  }

  .headline2 {
    font-family: 'Montserrat';
    font-weight: '700';
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 1%;
  }

  .headline3 {
    font-family: 'Montserrat';
    font-weight: '700';
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -1%;
  }

  .paragraph1 {
    font-family: 'Roboto';
    font-weight: '500';
    font-size: 21px;
    line-height: 140%;
    letter-spacing: 1%;
  }

  .paragraph2 {
    font-family: 'Roboto';
    font-weight: '400';
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 1%;
  }

  .subtitle {
    font-family: 'Montserrat';
    font-weight: '600';
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 2%;
  }

  .tagline {
    font-family: 'Roboto';
    font-weight: '500';
    font-size: 18px;
    line-height: 100%;
  }

  .buttonText {
    font-family: 'Roboto';
    font-weight: '500';
    font-size: 14px;
    line-height: 100%;
  }

  .smallText {
    font-family: 'Roboto';
    font-weight: '500';
    font-size: 12px;
    line-height: 120%;
    letter-spacing: 1%;
  }

  .linkText {
    font-family: 'Roboto';
    font-weight: '500';
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 1%;
    text-decoration: underline;
  }

  /* @screen md {
    .headline1 {
      font-weight: 900;
      font-size: 80px;
    }
  }

  @screen lg {
    .headline1 {
      font-weight: 900;
      font-size: 80px;
    }
  } */
}